@font-face {
	font-family: Genome;
	src: url("../fonts/Genome-Thin.otf") format("opentype");
}
body{
	background-color: #2B2D3B;
}
.homepage .row{
	margin-left: 0px;
	margin-right: 0px;
}
.intro_about{
	background-color: #2B2D3B;
	height: 100%;
}
.intro_login{
	background-color: #585a6e;
	height: 100%;
	background: url('../images/intro.jpg') center center no-repeat;
	background-size: cover;
}
.introText{
	position: relative;
	height: 400px;
	width: 100%;
	top: 50%;
	transform: translateY(-50%);
	font-family: 'Genome';
	color: #e3e4f0;
	padding-left: 100px;
}
.introText h1{
	font-size: 28pt;
}
.intro_story{
	margin-top: 10px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	font-size: 11pt;
	width: 65%;
	max-width: 600px;
	color: #9497af;
}
.askBtn{
	background-color: #4B4AAB;
	border: 0pt;
	border-radius: 40px;
	margin-top: 25px;
	color: #D8D8D8;
	padding: 8px;
	padding-right: 22px;
	padding-left: 22px;
	font-family: 'Open Sans';
	font-weight: 300;
}
.askBtn:hover{
	background-color: #3e3d9f !important;
	color: #D8D8D8 !important;
}
.askBtn:focus {
	outline:0 !important;
	background-color: #4B4AAB !important;
	color: #D8D8D8 !important;
}
.loginform{
	position: relative;
	width: 100%;
	top: 38%;
	color: #c0c1cc;
	transform: translateY(-38%);
}
.allLogIn{
	margin-right: auto;
	margin-left: auto;
	width: 60%;
	max-width: 400px;
}
.loginform h2{
	font-size: 28pt;
	font-family: 'Genome';
	padding-bottom: 20px;
}
.customLogForm{
	font-family: 'Open Sans';
	font-weight: 300;
	padding-left: 0px;
	margin-top: 30px;
	background-color: transparent;
	border: 0px;
	border-radius: 0px;
	border-bottom: 1px solid;
	border-color: #c0c1cc;
	color: #c0c1cc;
	outline: none;
	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	font-size: 12pt;
	padding-bottom: 15px;
}
.customLogForm:focus{
	webkit-box-shadow: none;
	box-shadow: none;
	border-color: #cfd0d9;
}
.customLogForm::-webkit-input-placeholder { /* WebKit, Blink, Edge */
	color:    #c0c1cc;
}
.customLogForm:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
	color:    #c0c1cc;
	opacity:  1;
}
.customLogForm::-moz-placeholder { /* Mozilla Firefox 19+ */
	color:    #c0c1cc;
	opacity:  1;
}
.customLogForm:-ms-input-placeholder { /* Internet Explorer 10-11 */
	color:    #c0c1cc;
}
.customLogForm:placeholder-shown { /* Standard (https://drafts.csswg.org/selectors-4/#placeholder) */
	color:    #c0c1cc;
}
.loginBtn{
	background-color: #4587F6 !important;
	border: 0pt;
	border-radius: 40px;
	margin-top: 30px;
	color: #D8D8D8;
	padding: 9px;
	padding-right: 23px;
	padding-left: 23px;
	font-family: 'Open Sans';
	font-weight: 300;
}
.loginBtn:hover{
	background-color: #2e79f6 !important;
	color: #D8D8D8 !important;
}
.loginBtn:focus {
	outline:0 !important;
	background-color: #4587F6 !important;
	color: #D8D8D8 !important;
}
.customHelp{
	color: #f05432 !important;
	font-family: 'Open Sans';
	font-weight: 300;
}
.custom-nav-bar{
	background-color: transparent !important;
	border: 0pt;
	border-radius: 0px;
	height: 56px;
}
.brand-custom{
	color: white !important;
	font-family: 'Open Sans';
	font-weight: 400;
}
.navbar-default .navbar-nav>li>a{
	color: white !important;
	font-family: 'Open Sans';
	font-weight: 300;
}
.customAccountHover:hover{
	color: #dbdbdb !important;
}
.customAccountHover .navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
	box-sizing: border-box !important;
	-moz-box-sizing: border-box !important;
	-webkit-box-sizing: border-box !important;
	border-bottom: 3pt solid;
	border-color: #1CA4FF;
	background-color: transparent;
}
.active-menu-btn{
	box-sizing: border-box !important;
	-moz-box-sizing: border-box !important;
	-webkit-box-sizing: border-box !important;
	border-bottom: 3pt solid;
	border-color: #1CA4FF;
	background-color: transparent;
}
.background-header{
	background-color: gray;
	width: 100%;
	height: 280px;
	margin-top: -100px;
	background: linear-gradient(rgba(62, 62, 62, 0.7), rgba(62, 62, 62, 0.7)),
	            url('../images/werkprocessen.jpg') center center no-repeat;
	background-size: cover;
}
.background-header h1{
	padding-top: 150px;
	color: white;
	font-family: 'Open Sans';
	font-weight: bold;
	text-align: center;
}
.background-header small{
	display: block;
	padding-top: 10px;
	color: #d0d0d0;
	font-family: 'Open Sans';
	font-weight: 300;
	font-size: 11pt;
}
@media screen and (max-width: 767px) {
	.background-header h1{
		font-size: 17pt;
	}
	.background-header small{
		font-size: 9pt;
	}
	.navbar-collapse{
		background-color: rgba(122, 122, 122, 0.98);
	}
	.navbar-default .navbar-nav>li>a{
		font-weight: 500 !important;
		color: white;
	}
}
.container-center{
	margin-right: auto;
	margin-left: auto;
	max-width: 1000px;
}
.werkprocessen-row{
	padding-top: 30px;
}
.werkprocess{
	margin-top: 25px;
	height: 180px;
	width: 100%;
	background-color: white;
	overflow: hidden;
	border-radius: 7px;
	-webkit-box-shadow: 0px 0px 21px -4px rgba(0,0,0,0.46);
	-moz-box-shadow: 0px 0px 21px -4px rgba(0,0,0,0.46);
	box-shadow: 0px 0px 21px -4px rgba(0,0,0,0.46);
}
.werkprocess p{
	padding: 10px;
}
.header-werkprocess{
	width: 100%;
	height: 45px;
	background-color: rgb(88, 66, 135);
	color: white;
	font-family: 'Open Sans';
	font-weight: 400;
	font-size: 12pt;
	padding: 10px;
}
.header-werkprocess span{
	float: right;
}
.custom-werk-btn{
	position: absolute;
	font-family: 'Open Sans';
	bottom:   0;
	width: 150px;
	margin-left: 10px;
	margin-bottom: 15px;
	border-radius: 80px;
	border: 0px;
}
.btn-color1{
	background-color: #27ae60;
}
.btn-color1:hover{
	background-color: #259655;
}
.btn-color1:active:focus{
	background-color: #259655;
}
.btn-color1:focus{
	background-color: #27ae60;
	outline: 0 !important;
	webkit-box-shadow: none;
	box-shadow: none;
}
.center-project{
	font-size: 16px;
	line-height: 24px;
	color: #333333;
	max-width: 700px;
	padding-top: 50px;
}
/*# sourceMappingURL=app.css.map */
